:root { --but-bg-color: aqua; }

body { font: 12pt monospace; margin: 0 auto; max-width: 800px; }
a { color: crimson; text-decoration: none; }
a:hover, a:focus { background-color: yellow; color: #aaa; text-decoration: underline }

button, input[ type=button ] { background-color: #ddd; border: none; color: var( --mnu-color ); cursor: pointer; margin: 3px; padding: 3px 20px; }
button:hover { background-color: #ccc; color: #fff }

iframe { height: 500px; width: 100%; }

.dragDropArea { border: 1px dashed gray; padding: 5px; }
.flex-container { display: flex; flex-wrap: wrap; }
.flex-container > div { border: 1px solid #ddd; margin: 5px; padding: 5px; }


#divDraggable {
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
	left: calc( 100% - 400px );
	overflow: auto;
	padding: 10px;
	position: absolute;
	resize: both;
	top: 100px;
	z-index: 9;
}

#divDraggableHeader {
	background-color: #2196F3;
	color: #fff;
	cursor: move;
	padding: 10px;
	z-index: 10;
}