
/* Copyright 2018 Ladybug Tools authors. MIT License */

/* https://www.w3schools.com/colors/colors_names.asp // use colors and borders to help identify the scope of particular elements */

	html { --mnu-color: lightpink; --mnu-back-color: brown    ; --mnu-width:320px; height: 100%; }

	body, html { font: 12pt monospace; height: 100%; margin: 0; overflow: hidden; }

	a { color: MediumAquaMarine; text-decoration: none; }
	a:hover, a:focus, #divHamburger:hover { background-color: yellow; color: #8888; }

	blockquote, pre { background-color: #eee; padding: 10px; }

	button, input[ type=button ] { background-color: #888; border: none; color: var( --mnu-color ); cursor: pointer; margin: 2px; padding: 3px 20px; }
	button:hover { background-color: #ccc; color: white }

	input[ type = range ] { -webkit-appearance: none; -moz-appearance: none; background-color: #ddd; width: 100%; }
	input[ type = range ]::-moz-range-thumb { background-color: #888; border-radius: 0; width: 10px; }
	input[ type = range ]::-webkit-slider-thumb { -webkit-appearance: none; background-color: #888; height: 20px; width: 10px; }

	summary { font-weight: bold; }

	.dragDropArea { border: 1px dashed gray; padding: 5px; }

	#divContainer { background-color: white; border: 1px solid #888; display: none; height: 80%; left: 380px;
		margin: 0; max-width: 800px;
		overflow: auto; padding: 10px; position: fixed; resize: both; top: 50px; }


	#divMenu { background-color: var( --mnu-back-color ); box-sizing: border-box; margin: 20px; max-height: 95%;
		overflow: auto; padding: 0px 10px 30px 10px; position: fixed; top: 0; width: var( --mnu-width ); z-index: 1; transition: 0.5s; }

	#divMenu a { color: var( --mnu-color ); text-decoration: none; }

	#divHamburger { background-color: pink; box-sizing: border-box; cursor: pointer; font-size: 30px; left: calc( var( --mnu-width ) - 100px );
		line-height: 30px; margin: 0; padding: 5px 15px 8px 10px; position: fixed; top: 0; transition: left .5s; z-index: 10; }

	#divMenuInWorld { left: 0; margin: auto; position: absolute; right: 0; text-align: center; width: 50%; }

