/* copyright pushMe-pullYou authors. MIT license.

See: https://github.com/pushme-pullyou/

*/

:root {
	--background-color: #fff;
	--red-hue: 360;
	--blue-hue: 240;
	--green-hue: 120;
	--main-hue: var(--red-hue);
	--saturation: 50%;

	font: 1rem monospace;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: var(--background-color);
	color: hsl(var(--main-hue), var(--saturation), var(--lightness1));
}

a {
	color: hsl(var(--main-hue), var(--saturation), var(--lightness2));
	font-weight: 800;
	text-decoration: underline;
}

a:hover,
a:focus,
a:active {
	background-color: yellow;
	color: hsl(var(--main-hue), var(--saturation), var(--lightness2));
	text-decoration: underline;
}

h1 a {
	color: hsl(var(--main-hue), var(--saturation), var(--lightness2));
}


option:nth-child(odd) {
	background-color: hsl(var(--main-hue), var(--saturation), var(--lightness5));
}

aside {
	background-color: hsl(var(--main-hue), var(--saturation), var(--lightness5));

}

blockquote,
pre {
	background-color: hsl(var(--main-hue), var(--saturation), var(--lightness5));
}

code {
	background-color: hsl(var(--main-hue), var(--saturation), var(--lightness5));
}

dialog {
	margin: auto;
	top: 40vh;
}

button {
	background-color: hsl(var(--main-hue), var(--saturation), var(--lightness4));
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	color: hsl(var(--main-hue), var(--saturation), var(--lightness1));
}

button:hover {
	background: #ccc;
	color: #fff;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: hsl(var(--main-hue), var(--saturation), var(--lightness4));
	border-color: hsl(var(--main-hue), var(--saturation), var(--lightness3));
	border-style: solid;
	border-width: 1px;

}

input[type="range"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: hsl(var(--main-hue), var(--saturation), var(--lightness4));
	border-bottom: 1px solid #ccc;
	height: 2ch;
	width: 100%;

}

#inpLightness1 {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: hsl(var(--main-hue), var(--saturation), var(--lightness1));
	height: 2ch;
	width: 100%;
}

#inpLightness2 {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: hsl(var(--main-hue), var(--saturation), var(--lightness2));
	height: 2ch;
	width: 100%;
}

#inpLightness3 {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: hsl(var(--main-hue), var(--saturation), var(--lightness3));
	height: 2ch;
	width: 100%;
}

#inpLightness4 {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: hsl(var(--main-hue), var(--saturation), var(--lightness4));
	height: 2ch;
	width: 100%;
}

#inpLightness5 {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: hsl(var(--main-hue), var(--saturation), var(--lightness5));
	height: 2ch;
	width: 100%;
}

input[type="range"]::-moz-range-thumb {
	background-color: hsl(var(--main-hue), var(--saturation), var(--lightness3));
	height: 3ch;
	width: 1.7chx;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: hsl(var(--main-hue), var(--saturation), var(--lightness3));
	height: 3ch;
	width: 1.7ch;
}



.main::-webkit-scrollbar {
	background-color: hsl(var(--main-hue), var(--saturation), var(--lightness4));
}

.main::-webkit-scrollbar-thumb {
	background-color: hsl(var(--main-hue), var(--saturation), var(--lightness3));
}

#navMenu, .nav-menu {
	background-color: hsl(var(--main-hue), var(--saturation), var(--lightness5));
}


.details__primary {
	border-bottom: 1px solid hsl(var(--main-hue), var(--saturation), var(--lightness3));
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.primary,
.summary__primary, .sumMenuTitle {
	color: hsl(var(--main-hue), var(--saturation), var(--lightness1));
	background: hsl(var(--main-hue), var(--saturation), var(--lightness3));
	padding: 0.5rem 1rem;
}

.secondary,
.summary__secondary {
	background-color: hsl(var(--main-hue), var(--saturation), var(--lightness4));
	padding: 0.5rem 1rem;
}


/* media */



@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #1e1f23;
		--text-dark: #efefef;
		--text: #c4c5c9;
		--text-light: #6c6d71;
		--text-lighter: #8e8f93;
	}

	* {

		--lightness5: 10%;
	}
}